<h1>Westward Ho Logged Tickets</h1>
<p>View Westward Ho TS tickets:</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="imgcontainer">
  <img src="../../assets/drawables/westward-ho-logo-V2.jpg" alt="Westward Ho Logo" class="avatar">
</div>

<div class="text-center mt-3 mb-3" *ngIf="isLoading">
  <span class="spinner-border spinner-border-lg mr-1"></span>
</div>

<div class="container" *ngIf="!isLoading">

  <input #search type="text" placeholder="Search Complaints" class="search-box" [(ngModel)]="searchTerm" (keyup)="filterTS()">

  <div *ngIf="!isLoading">
    <div *ngFor="let complaint of complaints">
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start mt-3">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><u>{{complaint.complaintTitle}}</u></h5>
            <small (click)="deleteComplaint(complaint.complaintsID)"><i class="fa fa-trash fa-lg error-message" style="cursor:pointer"></i></small>
          </div>
          <p class="mb-1" style="overflow-wrap: break-word;">{{complaint.complaintDescription}}</p>
          <small>Created By: <b>{{complaint.createdByName}}</b></small>
          <br />
          <small>Created On: <b>{{complaint.dateCreated}}</b></small>
          <br />
          <br />

          <small for="complaintStatus" class="mt-3">Change Status:</small>
          <select [disabled]="!isAdminUser" class="form-control" ([ngModel])="complaint.complaintStatus" value="{{complaint.complaintStatus}}" (change)="updateStatus(complaint.complaintsID, $event.srcElement.value)">
            <option value="" disabled>Please Select</option>
            <option value="New">New</option>
            <option value="In Progress">In Progress</option>
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
          </select>

        </div>
      </div>
    </div>

    <div *ngIf="complaints.length == 0" class="mt-3 text-center">No Complaints to Display</div>

  </div>
</div>
