################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHub
/UserMapping
/ComplaintsApp
/IIE VCNMB DISD3 Second Semester Timetable 2021.pdf
/IIE DISD3 Programme Assessment Schedule 2021 V6.pdf
