<h1>Westward Ho Ticket Logging</h1>
<p>Feel free to log a new ticket:</p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="imgcontainer">
  <img src="../../assets/drawables/westward-ho-logo.jpg" alt="Westward Ho Logo" class="avatar">
</div>

<div class="text-center mt-3 mb-3" *ngIf="isLoading">
  <span class="spinner-border spinner-border-lg mr-1"></span>
</div>

<form class="form-horizontal" [formGroup]="formObject" (ngSubmit)="addComplaint()">
  <div class="container" *ngIf="!isLoading">

    <div *ngIf="complaintError" class="text-center mt-3 mb-3 error-message">
      <span>Error logging. Please try again.</span>
    </div>

    <div *ngIf="complaintSuccess" class="text-center mt-3 mb-3 success">
      <span>Successfully Logged</span>
    </div>

    <label for="complaintTitle"><b>Title</b></label>
    <input type="text" placeholder="Enter Title" formControlName="complaintTitle" [ngClass]="{ 'is-invalid': submitted && formControls.complaintTitle.errors }" (keyup)="clearErrors()" name="complaintTitle">
    <div *ngIf="submitted && formControls.complaintTitle.errors" class="invalid-feedback">
      <div *ngIf="formControls.complaintTitle.errors.required">Title is required</div>
    </div>

    <label for="complaintDescription" class="mt-3"><b>Complaint/Comment</b></label><br />
    <textarea class="complaint" formControlName="complaintDescription" [ngClass]="{ 'is-invalid': submitted && formControls.complaintDescription.errors }" (keyup)="clearErrors()" placeholder="Add your complaint, comment or question" name="complaintDescription"></textarea>
    <div *ngIf="submitted && formControls.complaintDescription.errors" class="invalid-feedback">
      <div *ngIf="formControls.complaintDescription.errors.required">Complaint/Comment is required</div>
    </div>

    <button type="submit">Add Complaint</button>
    <button type="button" (click)="cancel()" class="cancelbtn">Cancel</button>
  </div>
</form>
