<h1>Westward Ho Meetings</h1>
<p>Feel free to host a new meeting:</p>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="imgcontainer">
  <img src="../../assets/drawables/westward-ho-logo-V2.jpg" alt="Westward Ho Logo" class="avatar">
</div>

<div class="text-center mt-3 mb-3" *ngIf="isLoading">
  <span class="spinner-border spinner-border-lg mr-1"></span>
</div>

<div *ngIf="!isLoading">
  <button class="pill-button mt-5" [hidden]="!isAdminUser" (click)="addMeeting()">Schedule Meeting</button>
  <div *ngIf="meetingsList.length == 0" class="text-center mt-3 mb-3">
    <span>There are no scheduled meetings.</span>
  </div>
  <br />

  <div *ngIf="meetingsList.length > 0" class="row d-none d-sm-none d-xs-none d-md-none d-lg-block">
    <table class="table mt-2">
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Meeting ID</th>
          <th scope="col" style="text-align:center">Title</th>
          <th scope="col" style="text-align:center">Host</th>
          <th scope="col" style="text-align:center">Link</th>
          <th scope="col" style="text-align:center">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <th style="text-align:center">{{meeting.meetingID}}</th>
          <td style="text-align:center">{{meeting.title}}</td>
          <td style="text-align:center">{{meeting.host}}</td>
          <td style="color: blue; cursor: pointer; overflow-wrap: break-word; text-align:center" (click)="navigateMeeting(meeting.link)"><u>{{meeting.link}}</u></td>
          <td style="text-align:center">
            <span class="add-cursor" (click)="navigateMeeting(meeting.link)"><i class="fa fa-user-plus fa-lg"></i></span>
            <span class="ml-2 add-cursor error-message" [hidden]="!isAdminUser" (click)="deleteMeeting(meeting.meetingID)"><i class="fa fa-trash fa-lg"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="meetingsList.length > 0" class="row d-lg-none d-xl-none">
    <table class="table mt-2">
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Meeting ID</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <th style="text-align:center">{{meeting.meetingID}}</th>
        </tr>
      </tbody>
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Title</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <td style="text-align:center">{{meeting.title}}</td>
        </tr>
      </tbody>
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Host</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <td style="text-align:center">{{meeting.host}}</td>
        </tr>
      </tbody>
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Link</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <td style="color: blue; cursor: pointer; overflow-wrap: break-word; text-align:center" (click)="navigateMeeting(meeting.link)"><u>{{meeting.link}}</u></td>
        </tr>
      </tbody>
      <thead class="primary-color">
        <tr>
          <th scope="col" style="text-align:center">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let meeting of meetings">
        <tr>
          <td style="text-align:center">
            <span class="add-cursor" (click)="navigateMeeting(meeting.link)"><i class="fa fa-user-plus fa-lg"></i></span>
            <span class="ml-2 add-cursor" [hidden]="!isAdminUser" (click)="deleteMeeting(meeting.meetingID)"><i class="fa fa-trash fa-lg"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
